@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJXUdVNF.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  cursor: url("./assets/cursors/arrow.cur"), auto;
}

body {
  font-family: "VT323", Arial, monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  padding: 0;
  margin: 0;
  user-select: none;
}

.start-menu-title {
  font-family: "Pixelated MS Sans Serif" !important;
}

.toolbar-right,
.time,
.hour,
.minutes {
  font-family: Arial !important;
  font-size: 0.75rem;
}

.box {
  box-shadow:
    -2px -2px #818181,
    -2px 0 #818181,
    0 -2px #818181,
    -2px -2px black,
    -2px 0 black,
    0 -2px black,
    2px 2px #e0dede,
    0 2px #e0dede,
    2px 0 #e0dede,
    2px -2px #818181,
    -2px 2px #e0dede,
    -2px 2px black,
    -2px 2px white,
    2px 2px white,
    2px 0 white,
    0 2px white,
    2px -2px black,
    2px -2px white;
  overflow-y: scroll;
}

h5 {
  font-family: Arial, monospace;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0em;
  text-align: left;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.start-menu-item {
  font-family: Arial, monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 10px;
}

.start-menu-item:hover {
  background-color: #00007b;
  color: white;
}

.start-menu-title {
  height: 95%;
  padding: 5px 5px;
  background: linear-gradient(45deg, #00007b 0%, #0000ff 5%, #00007b 100%);
  color: #fff;
  width: 40px;
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  position: absolute;
}

hr.start-menu {
  border: 0;
  height: 1px;
  background: #efefef;
}
.vue-draggable-resizable.active {
  z-index: 999 !important; /* A high value to ensure it's on top */
}
.responsive-container {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
.def-height {
  min-height: 500px;
  max-height: 100%;
}

.window-logo {
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .responsive-container {
    width: 100%;
  }
}

/* Styles for vue-draggable-resizable */
.vue-draggable-resizable {
  border: 1px solid #ddd;
}
.vue-draggable-resizable.active {
  z-index: 10;
}

.window-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow the items to wrap */
}

.responsive-container {
  margin: 0 auto;
}

.window-logo {
  display: flex;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .responsive-container {
    width: 100%; /* Full width on mobile screens */
  }
}

.handle {
  background-color: transparent;
  border: none;
}

.vdr {
  border: none;
}

.button {
  min-width: 100px;
  display: inline-flex; /* Changed to inline-flex to keep button's inline behavior */
  justify-content: center;
  padding: 4px 16px;
  background-color: #0550ff;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  height: 22px;
  color: #ffffff;
}

.button:active {
  background: #007a63;
}

.button__text {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s;
}

.button--loading .button__text {
  opacity: 0;
}

.button--loading::after {
  justify-content: center;
  justify-self: center;
  margin: auto; /* Centers the spinner in the flex container */
  width: 16px;
  height: 16px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid lightblue;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #ff3d00;
  width: 2px;
  height: 9px;
  transform: translateX(-50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
